# Code alongs - python fundamentals 1

In [3]:
my_fruit = input ()

print(f"I like to eat: {my_fruit}")

I like to eat: apple

In [19]:
age = input("Give me your age:")
print(f"In five years you are {age + 5} age years old")

TypeError: can only concatenate str (not "int") to str

In [18]:
# tuple
# in jupyter notebook the __repr__ of the pbject instance is outputted for the last line
age, type{age}

SyntaxError: invalid syntax (2954501778.py, line 3)

In [1]:
age = 33
loves_math = True
type(age), age , type(loves_math)

(int, 33, bool)

In [11]:
print(f"{loves_math = }")

loves_math = True

## Collections


- list
- tuples
- sets
- dictionary

In [7]:
# list of one data type only 
interests = ["badminton", "yoga", "math", "programming"]

# list of mixed data types
person = ["Kokchun", 33, True]

person

['Kokchun', 33, True]

In [8]:
interests

['badminton', 'yoga', 'math', 'programming']

In [9]:
type(person), type(person[1])

(list, int)

In [10]:
interests[1:3]

['yoga', 'math']

In [12]:
interests[-1], interests[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [15]:
person.append(interests)
person

['Kokchun',
 33,
 True,
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming']]

In [21]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [26]:
persons_interests = person[-1]
persons_interests[-2]

'math'

In [37]:
for interests in persons_interests:
    print(interests)

badminton
yoga
math
programming

### List creation

- append
- list comprehension

In [40]:
numbers = []
for i in range(10):
    numbers.append(i)
    
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
numbers = [i for i in range (10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
# i % 2 (the conditions) is truthy when i is odd, and falsey when i is even
odd_numbers_squared =[i**2 for i in numbers if i % 2]
odd_numbers_squared

[1, 9, 25, 49, 81]

## Dictionary

- key: value pairs

In [53]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platform": 40,
    "data_modeling": 30,
    "visualization": 40,
}

courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_platform': 40,
 'data_modeling': 30,
 'visualization': 40}

In [55]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modeling', 'visualization'])

In [57]:
len(courses.keys())

6

In [60]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [65]:
for course in courses:
    print(course, courses[course])

python 40
agile 15
sql 30
data_platform 40
data_modeling 30
visualization 40

In [70]:
print(f"{'course':<20} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

course               Points
python               40
agile                15
sql                  30
data_platform        40
data_modeling        30
visualization        40

# Strings

In [72]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [77]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'